:root {
	--input-sel-background: var( --accent-background );
	--input-sel-color: var( --accent-color );
	--input-placeholder: var( --disabled-background );
	--input-error: var( --alert-color );
}

input.x4input {
	font: inherit;
	outline: none;
	
	margin: 4px;
	border: none;

	&:focus {
	}
	

	&::selection {
		background-color: var( --input-sel-background );
		color: var( --input-sel-color );
	}
	
	&[type="text"], &[type="password"] {
		padding: 0 4px;
	}

	&[type="checkbox"]:checked,
	&[type="radio"]:checked {
		accent-color: var( --color-80 );
	}

	&[type="range"] {
		accent-color: var( --color-60 );
	}

	&::placeholder {
		color: var( --input-placeholder );
		font-style: italic;
		font-weight: 90%;

	}

	&[type="password"] {
		font-weight: bold;
	}

	&:invalid {
		color: var( --input-error );
	}
}

