:root {
	--textarea-border: var( --border );
	--textarea-border-focus: var( --border-focus );
}

.x4textarea {
	margin: 5px;

	.x4label{
		gap: 0;

		&::after {
			content: ":"
		}
	}

	textarea {
		border: 1px solid var( --color-gray-3 );
		padding: 4px;
		outline: none;
		font: inherit;
		flex-grow: 1;

		border: 1px solid var( --textarea-border );

		&:focus {
			border: 1px solid var( --textarea-border-focus );
		}

		&::selection {
			background-color: var( --color-90 );
			color: white;
		}

		&[resize=false] {
			resize: none;
		}
	}
}
