@use "../shared.scss";

:root {
	--tab-border-selected: var( --accent-background );
	--tab-border-hover: var( --accent-background-hover );
}

.x4tabs {
	display: grid;
    grid-template-rows: auto 1fr;


	.x4ctablist {
		display: flex;
		flex-direction: row;

		gap: 4px;
		padding: 5px 5px 0 5px;
		
		.x4button {
			border: none;
			border-bottom: 2px solid transparent;
			color: var( --color-gray-7 );
			margin: 0;
			outline: none;
			transition: border-color 0.2s ease;

			&.selected {
				border-bottom-color: var( --tab-border-selected );
				font-weight: bold;
				color: var( --color-gray-9 );
			}

			&:hover {
				background-color: unset;;
				color: black;
				border-bottom-color: var( --tab-border-hover );	
			}

			//&:focus {
				//color: var( --color-60 );
			//}
		}
	}

	&.vertical {
		display: grid;
		grid-template-rows: unset;
    	grid-template-columns: auto 1fr;

		.x4ctablist {
			align-items: start;
			flex-direction: column;
			border-top: 1px solid var(--border);
			border-bottom: 1px solid var(--border);
			border-left: 1px solid var(--border);
		}
	}


	&> .body {
		padding: 8px;
		border: 1px solid var( --border );
		min-height: 0;
	}
}

