
:root {
	--link-color: var( --accent-background );
}

.x4breadcrumbs {
	border-bottom: 1px solid var( --border );
	padding: 8px 0;
	font-weight: 120%;
	margin-bottom: 2em;
		
	&> a {
		text-decoration: none;
		border-bottom: 1px solid transparent;
		color: var( --link-color );
		padding: 0px;

		&:hover {
			border-bottom-color: var( --link-color );
		}

		&:not(:last-child):after {
			content: ">";
			padding: 0 4px;
		}

		&:last-child {
			font-weight: bold;
		}
	}
}
