
:root {
	--breadcrumbs-background: var( --background-primary );
	--breadcrumbs-icon-color: var( --text-ternary );
	--breadcrumbs-link-color: var( --text-ternary );
	--breadcrumbs-active-color: var( --accent-background );
}

.x4breadcrumbs {
	background-color: var( --breadcrumbs-background );
	border-bottom: 1px solid var( --border );
	padding: 8px 0;
	margin-bottom: 2em;
		
	&> .x4button {
		border: none;
		background-color: transparent;
		color: var( --breadcrumbs-link-color );
		padding: 6px 8px;
		padding-right: 0;
		min-width: 60px;

		#icon {
			fill: var( --breadcrumbs-icon-color );
		}

		&:not(:last-child):after {
			content: ">"
		}
	
		&:hover:not(:last-child) {
			background-color: transparent;
			color: var( --accent-background );
			fill:  var( --accent-background );
			border-bottom-color: var( --breadcrumbs-link-color );
			#text {
				text-decoration: underline;
			}
		}

		&:last-child {
			font-weight: bold;
			color: var( --breadcrumbs-active-color );

			#icon {
				fill:  var( --breadcrumbs-active-color );
			}

			cursor: auto;
			&:hover {
				background-color: transparent;
				color: var( --breadcrumbs-link-color );
			}
		}
	}
}
