
.hbox {
	display: flex;
	flex-direction: row;
	align-items: center;
}


.vbox {
	display: flex;
	flex-direction: column;
}

.flex {
	flex-grow: 1;
}

.fit {
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
}

.rel-fit {
	position: relative;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
}