
:root {
	--color-primary-a0: #ffffff;
	--color-primary-a10: #e0eaf7;
	--color-primary-a20: #c0d6ef;
	--color-primary-a30: #a0c2e7;
	--color-primary-a40: #7dafde;
	--color-primary-a50: #569cd6;
	--color-primary-a55: #{lighten(#477ba7,5%)};
	--color-primary-a60: #477ba7;
	--color-primary-a70: #375b7a;
	--color-primary-a80: #283d51;
	--color-primary-a90: #18212a;
	--color-primary-a100: #000000;

	--color-danger-a50: #c01010;
}

:root {
	// Backgrounds
	--background-primary: var(--color-primary-a0); // Fond principal
	--background-secondary: var(--color-primary-a10); // Fond secondaire

	// Texts
	--text-primary: var(--color-primary-a100); // Texte principal
	--text-secondary: #999; // Texte secondaire

	// disabled
	--disabled-background: #ccc;
	--disabled-color: white;
	--disabled-color-dark: #aaa;

	// accents
	--accent-background: var(--color-primary-a60); 
	--accent-background-hover: var(--color-primary-a55); 
	--accent-background-focus: var(--color-primary-a70);
	--accent-background-active: var(--color-primary-a80); 

	--accent-color: var(--color-primary-a0); 
	--accent-color-hover: var(--color-primary-a0); 
	--accent-color-focus: var(--color-primary-a0);
	--accent-color-active: var(--color-primary-a0); 

	// Borders
	--border: #e1e1e1; // Bordures
	--border-hover: #c2c2c2; // Bordures au survol
	--border-focus: var( --accent-background ); // Bordures si focus

	--alert-color: var( --color-danger-a50 );
}

